@{
    ViewData["Title"] = "Home Page";
}
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

@*<div class="text-center">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vStbievz557V9CdVk4TuVt2pSDey7L3X6qK2gFJ0DCZm_h93wzxRkJpagywWvhkLD-YTVTMlTxmQePH/embed?start=false&loop=false&delayms=3000"
                frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>*@
<link rel="stylesheet" href="~/css/site.css" />


@*<input type="file" name="FileUpload1" id="fileUpload" />
<br />
<input id="btnUploadFile" type="button" value="Upload File" />*@


<form method="post" asp-action="FileUpload" asp-controller="Home" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload" />
</form>


<form method="post" asp-action="TelegramId" asp-controller="Home" enctype="multipart/form-data">
    <input type="text" name="telegramId" multiple />
    <input type="submit" value="Upload" />
</form>

<div>
    <ul id="themes" class="list-group">
    </ul>
    <a href="@Url.Action("Index", "Slide")">Start streaming</a>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var result;
    const get = fetch("/getLectures")
        .then(res => res.json())
        .then((res) => { result = res; PopulateResult(res); });
    console.log(result);

    function PopulateResult(res) {
        res.forEach(elem => {
            $("#themes").append('<li class="text-center list-group-item" id="' +
                elem.id +
                '"> <div class="panel-body"> <p>'
                + elem.id + '</p> <p>' + elem.name +
                '</p> <a href=/Home/Questions/' + elem.id +
                '> Добавити запитання </a> </div> </li>');
        });

    }

</script>


